include component/header.pug
include data/jobdetail.pug

- var jobCount = 0

mixin intercom
    script.
        //- function detectmob() { 
        //-     if( navigator.userAgent.match(/Android/i)
        //-     || navigator.userAgent.match(/webOS/i)
        //-     || navigator.userAgent.match(/iPhone/i)
        //-     || navigator.userAgent.match(/iPad/i)
        //-     || navigator.userAgent.match(/iPod/i)
        //-     || navigator.userAgent.match(/BlackBerry/i)
        //-     || navigator.userAgent.match(/Windows Phone/i)
        //-     ){
        //-         return true;
        //-     }
        //-     else {
        //-         return false;
        //-     }
        //- }
        //- var is_mobile = detectmob();
        window.intercomSettings = {
            app_id: "o7zrfpg6",
            Environment: "SRP",
            horizontal_padding: 20, 
            vertical_padding: 20,
            hide_default_launcher: true,
            custom_launcher_selector: '.intercom-launcher'
        };
    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/o7zrfpg6';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()

mixin feedback
    .list-group-item.text-center.bg-light.p-4
        h3.mb-3 How would you rate your experience?
        button.btn.btn-lg.btn-primary(onclick="Intercom('showNewMessage')") Feedback

mixin btn-emo(btncolor, icon)
    button(class='btn btn-lg ' + btncolor onclick="$('.feedback-prompt').slideDown()")
        i(class="fa fa-2x " + icon)

mixin feedback-emotion
    .list-group-item.text-center.bg-light.p-4
        h3.mb-3 How would you rate your experience?
        div
            +btn-emo("btn-outline-danger", "fa-frown")
            +btn-emo("btn-outline-warning", "fa-meh")
            +btn-emo("btn-outline-success", "fa-smile")
        .mt-3.feedback-prompt
            .button.btn.btn-primary(onclick="Intercom('showNewMessage')") Care to tell us why?

mixin control
    .list-group-item.text-center.bg-light
        h3.mb-3 Intercom Control
        button.btn.btn-secondary(onclick="Intercom('showNewMessage')") Write new message
        button.btn.btn-secondary(onclick="Intercom('showMessages')") Show list of messages
        button.btn.btn-secondary(onclick="Intercom('show')") Show messenger
        button.btn.btn-secondary(onclick="Intercom('hide')") Hide messenger
        hr
        button.btn.btn-secondary(onclick="Intercom('shutdown')") Shut down intercom launcher
        button.btn.btn-secondary(onclick="Intercom('boot', {app_id: 'o7zrfpg6',Environment: 'SRP', custom_launcher_selector: '#my_custom_link'})") Boot intercom launcher


html
  head
    +header("Search Result Page")
  body
    .container.mt-3.mb-3
        h1 Intercom playground
        .intercom-launcher.d-none.d-xl-block
            i.fa.fa-2x.fa-comments
        .list-group
            each jobad, index in jobdetail
                if index <= 10
                    if index == 3
                        +feedback
                    if index == 4
                        +feedback-emotion
                    if index == 7
                        +control
                    else
                        .list-group-item
                            div !{jobad.JobTitle}
                            div !{jobad.Company}
    +intercom()