include component/header.pug
include component/jobdetail.pug
include data/jobdetail.pug

mixin jobcard(jobad)
  a.border.border-bottom-0.p-3.list-card.link-block(href=jobad.DesktopSiteURL target="_blank")
    .text-primary !{jobad.JobTitle}
    div !{jobad.Company}
    ul
      li= jobad.Summary1
      li= jobad.Summary2
      li= jobad.Summary3
    div= jobad.Location
    if jobad.SalaryVisible == 'Hidden'
      div Salary negotiable
    div !{jobad.PostDate}
    if jobad.CompanyLogo
      img.logo(src=jobad.CompanyLogo)

mixin reqList(header, content)
  li.mb-3
    div
      small= header
    div !{content}

mixin topNav
  .container.pt-3.pb-3
    img(src="https://content.jobsdbcdn.com/Content/d0521/images/Shared/v8Revamp2/jobsdb_logo_general_2015.png")
    each item in ['Home', 'MyJobsDB', 'Resources', 'Career Insights']
      a.ml-4.text-primary= item

html
  head
    +header("Search Result Page")
  body
    //- top nav
    +topNav()

    //- search input
    .search-input.bg-input.p-3
      .container
        .row
          .col
            input.form-control(placeholder="Search job")
          .col
            select.form-control
              option All locations
          .col
            select.form-control
              option All job functions
          .col
            button.btn.btn-primary.btn-block Search
        .mt-2
          span.text-white Filters
          each filter in ['Salary', 'Job type', 'Career level']
            button.btn.btn-secondary.ml-2= filter

    //- job listing
    .joblisting.pb-5
      .container.mt-3
        .pt-2.pb-2 1-15 of 58584 jobs
        each jobad in jobdetail
          +jobcard(jobad)