include component/header.pug
include component/jobdetail.pug
include data/jobdetail.pug

mixin jobcard(jobad)
  .border.border-bottom-0.p-3.list-card(data-toggle="modal" data-target="#"+jobad.Id)
    a(href="#") !{jobad.JobTitle}
    div !{jobad.Company}
    ul
      li= jobad.Summary1
      li= jobad.Summary2
      li= jobad.Summary3
    div= jobad.Location
    if jobad.SalaryVisible == 'Hidden'
      div Salary negotiable
    div !{jobad.PostDate}
    if jobad.CompanyLogo
      img.logo(src=jobad.CompanyLogo)

mixin reqList(header, content)
  li.mb-3
    div
      small= header
    div !{content}

mixin topNav
  .container.pt-3.pb-3
    img(src="https://content.jobsdbcdn.com/Content/d0521/images/Shared/v8Revamp2/jobsdb_logo_general_2015.png")
    each item in ['Home', 'MyJobsDB', 'Resources', 'Career Insights']
      a.ml-4.text-primary= item

mixin jobadmodal(jobad)
  .modal.fade.bd-example-modal-lg(id=jobad.Id tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          div
            button.btn.btn-primary(type='button', data-dismiss='modal') Apply Now
            a.btn.btn-secondary.ml-2(href=jobad.DesktopSiteURL target='_blank') View in new tab
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .card.mb-3
            .card-body
              .row
                if jobad.CompanyLogo
                  .col-2.text-center
                    img.mb-2(src=jobad.CompanyLogo)
                .col
                  h3 !{jobad.JobTitle}
                  div !{jobad.Company}
            .card-footer
              .row
                .col
                  i.fas.fa-dollar-sign
                  span.ml-2 !{jobad.Salary}
                .col 
                  i.fas.fa-map-marker
                  span.ml-2 !{jobad.Location}
                .col 
                  i.fas.fa-calendar-alt
                  span.ml-2 !{jobad.PostDate}
          .row
            .col-6
              .card
                .card-header Job Description
                .card-body !{jobad.JobDesc}
            .col-6
              .card
                .card-header Job Requirements
                .card-body
                  ul.list-unstyled
                    +reqList('Job Posted Date', jobad.PostDate)
                    +reqList('Career Level', jobad.CareerLevel)
                    +reqList('Employment Type', jobad.EmploymentTerm)
                    +reqList('Qualification', jobad.Qualification)
                    +reqList('Years of Experience', jobad.WorkExperience)
                    +reqList('Industry', jobad.Industry)
                    +reqList('Job Function', jobad.JobFunction)
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button' data-dismiss='modal') Apply Now

html
  head
    +header()
  body
    //- job ad modal
    each jobad in jobdetail
      +jobadmodal(jobad)

    //- top nav
    +topNav()

    //- search input
    .search-input.bg-input.p-3
      .container
        .row
          .col
            input.form-control(placeholder="Search job")
          .col
            select.form-control
              option All locations
          .col
            select.form-control
              option All job functions
          .col
            button.btn.btn-primary Search
        .mt-2
          span.text-white Filters
          each filter in ['Salary', 'Job type', 'Career level']
            button.btn.btn-secondary.ml-2= filter

    //- job listing
    .joblisting
      .container.mt-3
        .pt-2.pb-2 1-15 of 58584 jobs
        each jobad in jobdetail
          +jobcard(jobad)